.ul {
  list-style-type: none;
  display: flex;
  gap: 50px;
}

.li {
  display: flex;
}

.inner {
  display: flex;
  align-items: center;
  gap: 50px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
}

.text,
.address {
  text-transform: uppercase;
  color: #43ffd2;
}

.delivery,
.time {
  color: #fff;
  text-transform: uppercase;
}

.block {
  display: flex;
  flex-direction: column;
}
